<!-- templates/biblioteca/about.html -->

{% extends 'biblioteca/base.html' %}

{% block title %}Acerca de Christian Rocco{% endblock %}

{% block content %}
<div class="mt-4">
    <h2>Acerca de Christian Rocco</h2>
    <p>¡Hola! Soy Christian Rocco, un apasionado de la tecnología, el diseño gráfico y la programación. A lo largo de mi carrera, he combinado estas pasiones con una sólida formación técnica y entusiasmo.</p>
    
    <p>Mi experiencia incluye más de seis años en diseño gráfico, trabajando en la creación de soluciones visuales efectivas para diversas organizaciones. Además, tengo amplios conocimientos en soporte técnico, administración de sistemas, y optimización de procesos mediante el uso de herramientas como Excel y macros avanzadas.</p>

    <p>Actualmente, estoy ampliando mi formación como Analista de Sistemas, buscando estar siempre a la vanguardia en un mundo tecnológico en constante evolución. Me gusta explorar nuevas herramientas y lenguajes de programación para mejorar mis habilidades y contribuir al desarrollo de proyectos innovadores.</p>

    <p>En mi tiempo libre, disfruto de trabajar en mis hobbies como la carpintería, eléctricidad básica, la electrónica, y el cuidado de bonsáis. Estas actividades me permiten mantener un equilibrio entre mi pasión por la tecnología y mi amor por la naturaleza.</p>

    <p>¡Gracias por visitar este sitio web!</p>
</div>
{% endblock %}
